*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

/************NAVBAR***********/

/* header */

.header {
    background-color: #fff;
    width: 80%;
    z-index: 3;
    margin: 1em 10%;
    position: relative;
    top:0;
  }
  
  .header ul {
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  .header li{
      margin:1em 0;
      font-size: 0.8rem;
  }
  .header li a {
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    height:40px;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    text-align: center;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  








/*******MAIN BODY*************/
.one{
    width: 100%;
    background-color: #F6F6F6;
}
.extend{
    width: 80%;
    margin: 0 auto;
}
.section-content{
    margin:2em 0;
    padding-top: 1em;
}
.section-content h1{
    font-size: 2rem;
    margin:1em 0 1em 0;
}
.section-content p{
    font-size: 0.8rem;
    color:#5C5C5C;
}
.section-content button,.four button{
    color:#fff;
    background-color: #007AFF;
    border:1px solid #007AFF;
    padding:0.4em 2em;
    font-weight:800;
    cursor: pointer;
    margin:3em 0;
}
.extend img, .four img{
    width:100%;
}
.img-one{
    padding-bottom: 2em;
}
.two{
    background-color: #C9DAED;

}

.two h3{
    margin:1em 0;
    color: #000000;
}
.two p{
    font-size: 0.8rem;
    margin:0 0 1em 0;
    text-align: justify;
}
.two .section-choose{
    background-color: #C9DAED;
    color: #5C5C5C;
    width:80%;
    margin:0 auto 2em auto;
    line-height:1.2em;
    padding-top:1em;
}

.two .video{
    background-color: #fff;
    width:100%;
    text-align: center;
    margin:0 auto;
    
}
.two img{
    width:80%;
    margin:2em 0;
}
.three{
    margin:0;
    background-color: #F6F6F6;
    padding: 3em 0 2em 0;
}
.three h6{
    display: inline-block;
    margin:0 auto;
    font-size:0.8rem;
}
.three p{
    font-size:0.8rem;
    line-height: 2em;
}
.card{
    width:80%;
    margin: 0 auto 3em auto;
    
}
.three .card-one{
    padding: 1em 1em;
    background-color: #fff;
    margin: 1em 0;
   
}
.three img{
    width:40px;
}
.four{
    font-size: 1.7rem;
}
.four .agent, .four .agent-img{
    width:80%;
    margin:2em auto;
}
/***********FOOTER**********/
footer{
    font-size: 0.6rem;
}
.address{
    background-color: #2868B1;
    color:#ffffff;
    padding:2em 0;
}
.contain{
    width:80%;
    margin: 4em auto;
}
footer img{
    width:100px;
    margin-bottom:1em;
}
footer .twospan{
    display: flex;
}
.links{
    background-color: #F6F6F6;
    padding:4em 0 4em 0;
    flex-basis: 50%;
}
.links .contain-one{
    width: 60%;
    margin: 0em auto;
}
.links p{
    margin: 1em 0;
}
.links a,a{
    text-decoration: none;
    color:#000000;
}
.space{
    margin: 0.8em 0;
}

button:hover{
    border:2px solid #2868B1;
}
a:hover{
    text-decoration: underline;
}
.blue{
    color:#007AFF;
}
/*****************ABOUT US PAGE******************/
.five img,.eight img{
    width: 100%;
    margin-bottom:2em;
}
.w-80{
    width:80%;
    margin: 1em auto;
}
.just{
    text-align: justify;
}
.seven{
    text-align: center;
}

.seven img{
    margin:1em auto;
    height:50%;
}
.seven h5{
    margin-bottom:0.6em;
}
.seven p,.six p{
    font-size:0.8rem;
}
.eight h6{
    font-size:1rem;
    color: #060606;
}
.eight p{
    font-size: 0.8rem;
    color:#333;
}
/****************RESPONSIVENESS*******************/


@media (min-width:600px){

    /************NAVBAR****************************************/
   header{
       display:flex;
   }
    .header ul{
        margin: 0;
    }
    .header li {
        float: left;
        margin-left:4em; 
      }
      .header .menu {
        max-height: none;
      }
      .header .menu-icon {
        display: none;
      }
    

    /****************BODY********************/
   .extend,.reduce{
       display: flex;
   }
   .section-content, .img-one{
       width:50%;
   }
   .two .section-choose{
       width:100%;
   }
   .two h3,.two p{
        width: 60%;
        margin: 2em auto;
   }
   .two img{
        width: 60%;
        margin:4em 0;
   }
   .card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
   }
   .three .card-one{
       padding: 3em 3em;  
       
   }
   .four{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 80%;
       margin: 0 auto;
   }
  .four button{
      margin:4em 0;
  }
  footer{
      display: flex;
      margin: 0 auto;
  }
  footer .twospan{
      width: 60%;
  }
  .address{
      flex-basis: 40%;
  }
  .contain{
      width:100%;
      padding-left: 25%;
  }
  .links{
      padding:12em 0 0 0;
  }

/*****************ABOUT US PAGE***************/
.seven{
    display: flex; 
}
.seven img{
    width:40%;
}

.centre{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:25px;
    padding: 1em 1em;

}
.eight{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.eight h4{
    flex:0 0 100%;
    margin-bottom:1em
}
.eight img{
    width: 250px;
    height:350px;
}
}
